body {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  text-align: center;
  grid-template:
    "....  " 20px
    "header" 60px
    "....  " 10px
    "menu  "
    "....  " 0px
    "game " 1fr
    "....  " 0px
    "footer" 60px;
}
header {
  grid-area: header;
}
nav {
  grid-area: menu;
  display: flex;
  flex-direction: column;
}
main {
  grid-area: game;
}
footer {
  grid-area: footer;
}
.play-btn {
  background: rgba(6, 78, 59, 0.1);
  border: none;
  color: rgb(6, 78, 59);
  font-size: 30px;
  padding: 0.5rem 1rem;
  text-align: center;
  /* Safari */
  cursor: pointer;
}
.play-btn:hover {
  background: rgb(6, 78, 59);
  color: white;
}
.play-btn-selected {
  background: rgb(6, 78, 59);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 30px;
  padding: 0.5rem 1rem;
  text-align: center;
}

.game-board-row {
  display: flex;
}

.canvas-parent {
  position: relative;
}
canvas {
  position: absolute;
  background: rgba(6, 78, 59, 0.1);
  width: 336px;
  height: 336px;
}
.circle {
  width: 64px;
  height: 64px;
  margin: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(6, 78, 59, 0.2);
}
.circle-selected {
  width: 64px;
  height: 64px;
  margin: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(6, 78, 59, 1);
}
@media (min-width: 768px) {
  body {
    width: 768px;
    grid-template:
      "... ...... ...... ...... ..." 20px
      "... header header header ..." 60px
      "... ...... ...... ...... ..." 50px
      "... menu   ...... game   ..." 1fr
      "... ...... ...... ...... ..." 10px
      "... footer footer footer ..." 60px
      "... ...... ...... ...... ..." 0px
      / 0px 250px 50px 1fr 0px;
  }
  .play-btn {
    font-size: 50px;
  }
  canvas {
    width: 504px;
    height: 504px;
  }
  .circle {
    width: 96px;
    height: 96px;
    margin: 15px;
  }

  .circle-selected {
    width: 96px;
    height: 96px;
    margin: 15px;
  }
}
